*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}

.center-h1{
    height: 4vh;
    background-color: #036873;
    color: #022026;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h2{
    height: 3vh;
    background-color: #036873;
    color: #022026;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #022026;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    font-weight: 600;
    width: 40vw;
    height: 5.58vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>div a{
    text-decoration: none;
    color: #D99F6C;
    border: 2px solid #BF7665;
    background-color: #D92B04;
}

nav>div a:hover{
    transform: scale(1.3,1.5);
}

.mainCenterSection1{
    background-color: #036873;
    min-height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainCenterSection2{
    background-color: #7ED0D9;
    display: flex;
    min-height: 40vh;
    justify-content: space-evenly;
    align-items: center;
}

.header-h1{
    display: flex;
    justify-content: center;
}

.main-h31{
    color: #022026;
    background-color: #036873;

}

.main-h32{
    width: 10rem;
    order: 1;
}

.main-h33{
    color: #022026;
}

.mainFlex-about{
    background-color: #D92B04;
    height: 86.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainCenterSection3{
    height: 30vh;
    display: flex;
    align-items: center;
}

.mainCenterSection4{
    background-color: #036873;
    min-height: 18vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainCenterSection6{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionp1{
    font-weight: 600;
    color: #022026;
    width: 17vw;
    margin-left: 6.5vw;
}

.img-logo{
    width: 5vw;
    height: 4vh;
    margin-right: 0.6rem;
}


.img1{
    width: 60vw;
    height: 50vh;
    margin: 2rem;
}

.img2{
    width: 25vw;
    height: 25vh;
    order: 2;
}

.img3{
    width: 25vw;
    height: 30vh;
}

.img4{
    display: none;
}

.img-about{
    width: 20vw;
    margin-left: 15vw;
}

#colorh1{
    background-color: #D92B04;
}

#color1{
    background-color: #7ED0D9;
}

#color2{
    background-color: #036873;
}

#color3{
    background-color: #7ED0D9;
}

#text-contact1{
    margin-top: 1rem;
    width: 50vw;
    display: flex;
    justify-content: space-around;    
}

table, tr, th, td {
    width: 30rem;
    height: 4rem;
    border: 2px solid #036873;
    border-collapse: collapse;
}

table{
    margin-top: 4rem;
}

tr{
    text-align: center;
    background-color: #1b7d8854;
}

.table{
    height: 81.4vh;
    background: url(../images/together.jpg);
    display: flex;
    justify-content: center;
}

caption{
    background-color: #D92B04;
    color: #022026;
    border: 2px solid #036873;
    font-weight: 800;
    height: 1.5rem;
}

thead{
    background-color: #7ED0D9;
}

.main-benefists{
    height: 81vh;
    background: linear-gradient(to right, #036873, #7ED0D9);
    display: flex;
    justify-content: center;
}

.img-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.list1{
    margin-left: 1.5vw;
    height: 69.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img5{
    width: 20vw;
    height: 25vh;
}

.img-ruffle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-r{
    width: 25vw;
}

.img-form{
    background: linear-gradient(to right, #036873, #7ED0D9);
    padding: 2rem;
    min-height: 40vh;
    display: flex;
    justify-content: space-around;
}

ul li{
    margin-left: 1vw;
}

.center-raffle{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #036873;
    color: #022026;
}

.form{
    background-color: #7ED0D9;
    color: #022026;
    padding: 1rem .5rem;
    width: 20vw;
    border-radius:4px;
    box-shadow: 2px 2px 10px 2px rgb(59, 56, 56);
    border: none;
    display: flex;
    flex-direction: column;
}

label{
    margin: .3rem;
}

.bt{
    width: 7rem;
}

footer{
    background-color: #7ED0D9;
}

iframe{
    border: 2px solid green; 
    width: 30vw;
    height: 20vh;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .center-h1{
        font-size: 1.5rem;
    }

    .img-logo{
        width: 3rem;
    }

    nav{
        height: 15vh;
    }

    nav div{
        width: 65vw;
        height: 15vh;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav>div a{
        padding: 0px 1rem 0px 1rem;
        text-decoration: underline;
        border: none;
        background-color: unset;
    }

    .img1{
        height: 28vh;
    }

    .main-h32{
        font-size:smaller;
    }

    .img2{
        width: 30vw;
        height: 15vh;
    }

    .sectionp1{
        font-size: smaller;
        width: 40vw;
    }

    .img-about{
        width: 40vw;
        margin-left: 1rem;
    }

    .main-h33{
        font-size:large
    }

    .img3{
        width: 30vw;
        height: 20vh;
    }

    #text-contact1{
        text-align: center;
        width: 80vw;
        height: 10vh;
        flex-direction: column;
        justify-items: end;
        border-radius: 3%;
        box-shadow: 2px 2px 10px 2px #022026;
    }

    .center-h2{
        font-size: smaller;
    }

    .main-benefists{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    
    .list1{
        height: 40vh;
        width: 80vw;
        font-size: medium;
        justify-content: space-evenly;
    }

    #small{
        display: none;
    }

    .img5{
        width: 75vw;
        height: 15vh;
    }

    .img-ruffle{
        display: none;
    }

    .img-form{
        padding: 0;
    }

    form input, select, textarea{
        width: 90vw;
    }

    fieldset h3{
        font-size: small;
    }

    .center-raffle{
        font-size: x-small;
    }

    iframe{
        width: 100vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .img-logo{
        width: 4rem;
    }

    nav{
        height: 15vh;
    }

    nav div{
        width: 65vw;
        height: 15vh;
        justify-content: center;
    }

    nav>div a{
        text-align: center;
        text-decoration: underline;
        border: none;
        width: 40vw;
        background-color: unset;
    } 

    .main-benefists{
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1024px){
    .list1{
        margin-left: 2rem;
    }
}