*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    /* background-color: #BCBABF; */
}

header{
    display: flex;
    flex-direction:  column;
}

header>h1{
    height: 4vw;
    background-color: #036873;
    color: #022026;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-h1{
    order: 2;
    background-color: #bcbabf7e;
}

.center1-h1{
    background-color: #bcbabf7e;
    order: 1;
}

.header-h33{
    background-color: #bcbabf7e;
    order: 2;
}

nav{
    order:1;
    background-color: #182126;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    background-color: #182126;
    font-weight: 600;
    width: 25vw;
    height: 5.58vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>div a{
    text-decoration: none;
    color: #BCBABF;
    border: 2px solid #A6A053;
    background-color: #010626;
}

nav>div a:hover{
    transform: scale(1.3,1.5);
}

.center-img-header{
    height: 50vh;
    background: url(../images/image-1.jpg);
    margin: 2rem;
    border: 2px solid #182126;
    display: flex;
    flex-direction: column;
    order: 2;
    justify-content: center;
    align-items: center;
}

.main-a-none{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    text-decoration: none;
    color: #BCBABF;
    border: 2px solid #A6A053;
    background-color: #010626;
    margin-top: 1rem;
    order: 3;
}

.main-a-none:hover{
    transform: scale(1.5,1.2);
}

.main-h31-none{
    order: 2;
    background-color: #bcbabf7e;
}

.mainFlex-about{
    background-color: #D92B04;
    height: 25vw;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.header-h1{
    height: 40vh;
    margin: 3rem;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: url(../images/image-3.jpg);
    border: 2px solid #182126;
    order: 2;
}

.mainCenterSection1{
    display: none;
}

.mainCenterSection2{
    margin-left: 20rem;
    margin-right: 20rem;
    height: 30vh;
    background: url(../images/gym-1.jpg);
    border: 2px solid #182126;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-translucent{
    background-color: #bcbabf60;
}

.mainCenterSection3{
    width: 33.33vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.mainCenterSection4{
    display: none;
}

.mainCenterSection6{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.main-h32{
    background-color: #bcbabf49;
    width: 15rem;
    height: 7rem;
}

.sectionp1{
    width: 12.5rem;
    border: 2px solid black;
}

#center-h11{
    order: 1;
}

#colorh1{
    background-color: #BCBABF;
}

#color1{
    background-color: #010626;
}

#color2{
    background-color: #A6A053;
}

#color3{
    background-color: #010626;
}

#text-contact{
    width: 15rem;
    border: 2px solid #182126;
}

#text-contact1{
    display: flex;
    flex-direction: column;
}

.img-logo{
    background-color: #182126;
    width: 5vw;
    height: 4vh;
    margin-right: 10px;
}

.img1{
    display: none;
}

.img2{
    display: none;
}

.img-none{
    display: none;
    width: 842px;
    height: 720px;
}

table, tr, th, td {
    width: 30rem;
    height: 4rem;
    border: 2px solid #036873;
    border-collapse: collapse;
}

table{
    margin-top: 4rem;
}

tr{
    text-align: center;
    background-color: #1b7d8854;
}

.table{
    height: 81.4vh;
    background: url(../images/together.jpg);
    display: flex;
    justify-content: center;
}

caption{
    background-color: #D92B04;
    color: #022026;
    border: 2px solid #036873;
    font-weight: 800;
    height: 1.5rem;
}

thead{
    background-color: #7ED0D9;
}

.main-benefists{
    
    height: 70vh;
    border: 4px solid palevioletred;
    display: flex;
    justify-content: center;
    width: 80%;
}

.img-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid yellow;
}

.list1{
    margin-left: 4rem;
    border: 2px solid red;
    height: 69.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.img5{
    width: 320px;
    height: 210px;
}

ul li{
    margin-left: 1rem;
}

.center-h2{
    order: 3;
    height: 3vw;
    background-color: #036873;
    color: #022026;
    display: flex;
    justify-content: center;
    align-items: center;
}